database_name = "postgres"
database_pw = "postgres"
database_port = 5432
csv_target_file = "./politics-use-world-opinion-trump-media.csv"
use_database = False
scrapping_delay_min=1
scrapping_delay_max=2
max_extractions = 2000
perform_scrapping = False
select_from_categories=["politics","us","world","opinion","media"]
select_from_subcategories = ["donald-trump"]
nn_seed=1
use_skip_gram = True
persist_training_data_file=None
result_file="verification.txt"
seed_words=[["vendetta"], ["allegations"], ["meddling"], ["madness"], ["subvert"], ["evil"], ["falsehoods"], ["sham"], ["manufactured"], ["fiasco"]]
bags=[1]
learn_embeddings=True
import scrapper.foxScrapper
scrapper = scrapper.foxScrapper.FoxScrapper()